
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@keyframes incoming{
    0%{
        left:800px;
        opacity:0;
    }
    100%{
        left:0px;
        opacity:1;
    }
}

@keyframes lineappear{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

@keyframes title-appear{
    0%{
        margin-top:20px;
        color:transparent;
    }
    80%{
        color: #000;
    }
}

.landing-container{
    display:flex;
    flex-direction: column;
}

.title-landing{
    display: flex;
    width:35%;
    margin-left:0;
    font-size: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(211, 115, 26);
}

.title-text{
    margin-top:30px;
}

.title-text:hover{
    cursor: pointer;
}

#logo-icon{
    background-image: url(images/lightbulb_icon.png);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position:center;
    height:100px;
    width:100px;
}

.top-container{
    display:flex;
    flex-direction: row;
    padding-top:5px;
    height:100px;
    width:100%;
    padding-bottom: 20px;
    /*border-bottom: 1px solid rgb(200, 200, 200);*/
    background: linear-gradient(rgb(235, 235, 235),rgba(245, 245, 245, 0)) ;
}

.gap-top{
    width:50%;
}

.top-button-container{
    display:flex;
    width:15%;
    height:100px;
    margin-right:1%;
    object-fit: contain;
    object-position: center bottom;
}

.sign-in-container, .sign-up-container{
    padding:5px;
}

#sign-in-btn{
    height:32px;
    width:80px;
    color:rgb(46, 46, 46);
    font-size: larger;
    font-weight: 400;
    margin-top:35%;
    padding-top:12px;
}

#sign-in-btn:hover{
    cursor:pointer;
    text-decoration: underline;
}

#sign-up-btn{
    height:32px;
    width:100px;
    border:0.8px solid rgb(200, 200, 200);
    border-radius: 4px;
    color:rgb(216, 118, 38);
    font-size: larger;
    font-weight: 400;
    background-color: #fff;
    margin-top:35%;
}

#sign-up-btn:hover{
    cursor:pointer;
    color:#000;
    background-color: rgb(216, 118, 38);
    box-shadow: 0 1px 1px rgba(32, 33, 36, .28);
}

.main-landing-container{
    display:flex;
    flex-direction: column;
    width:100%;
}

.heading-text{
    padding-left:25px;
    font-size:30px;
    width:max-content;
    color:rgb(18, 18, 19);
    position: relative;
    animation:incoming 2.5s 1;
    animation-fill-mode: forwards;
}

.line-separator{
    border-bottom: 1px solid rgb(170, 170, 170);
    animation:lineappear 2.5s 1;
    animation-fill-mode: forwards;
}

.boxes-container{
    display:flex;
    width:96%;
    padding-left:2vw;
    padding-right:2vw;
    padding-top:2%;
    min-height:700px;
    background: linear-gradient(rgba(255, 255, 255, 0.589) ,rgb(235, 235, 235));
}

.content-box{
    display:flex;
    flex-direction: column;
    border-top:1px solid rgb(207, 207, 207);
    border-left:1px solid rgb(207, 207, 207);
    border-right:1px solid rgb(207, 207, 207);
    border-radius: 1px;
    height:600px;
    width:25%;
    margin:5px; ;
    background: linear-gradient(rgba(255, 255, 255, 0.801),rgb(230, 230, 230) ) ;
}

.content-box:hover{
    background: linear-gradient(rgba(255, 175, 122, 0.685), rgb(202, 121, 45));
    box-shadow: 4px 4px 8px rgba(114, 114, 114, 0.561);
}

.small-boxes-container{
    display:flex;
    flex-direction:column;
    width:33%;
    height:500px;
    margin:5px;
}

.small-content-box{
    display:flex;
    flex-direction:column;
    border:1px solid rgb(133, 133, 133);
    border-radius: 5px;
    height:245px;
    width:100%;
    background-color: rgba(255, 136, 24, 0.726);
}

.small-content-box:hover{
    cursor:pointer;
    box-shadow: 4px 4px  rgba(62, 92, 112, 0.28);
}

#small-1{
    margin-bottom: 15px;
}

.box-title{
    height:35px;
    width:100%;
    font-size: larger;
}

.content-box:hover > .box-title{
    animation: title-appear 1.2s 1;
}

#keyword-title{
    padding:10px;
}

#ask-new-quest, #ans-quest{
    margin-top:100px;
}

.footer-menu{
    position: relative;
    bottom:0;
    margin-top:60px;
}

