:root{
    --orange: rgb(236, 141, 16);
}

@import url();

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height:fit-content;
    width: 100vw;
    background-color: rgb(241, 241, 241);
}

@keyframes incoming{
    0%{
        left:800px;
        opacity:0;
    }
    100%{
        left:0px;
        opacity:1;
    }
}

@keyframes lineappear{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

@keyframes title-appear{
    0%{
        color:transparent;
    }
    80%{
        color: #000;
        font-size: 22px;
    }
}

.landing-container{
    display:flex;
    flex-direction: column;
    height:inherit;
}

.title-landing{
    display: flex;
    width:35%;
    margin-left:0;
    font-size: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:var(--orange);
}

.title-text{
    margin-top:30px;
}

.title-text:hover{
    cursor: pointer;
}

#logo-icon{
    background-image: url(images/lightbulb_icon.png);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position:center;
    height:100px;
    width:100px;
}

.logo-icon {
    height:40px;
    width:45px;
}

.top-container{
    display:flex;
    flex-direction: row;
    padding-top:5px;
    height:100px;
    width:100%;
    padding-bottom: 20px;
    /*border-bottom: 1px solid rgb(200, 200, 200);*/
    background: linear-gradient(rgb(235, 235, 235),rgba(245, 245, 245, 0)) ;
}

.gap-top{
    width:50%;
}

.top-button-container{
    display:flex;
    width:15%;
    height:100px;
    margin-right:1%;
    object-fit: contain;
    object-position: center bottom;
}

.sign-in-container, .sign-up-container{
    padding:5px;
}

#sign-in-btn{
    height:32px;
    width:80px;
    color:rgb(46, 46, 46);
    font-size: larger;
    font-weight: 400;
    margin-top:35%;
    padding-top:12px;
}

#sign-in-btn:hover{
    cursor:pointer;
    text-decoration: underline;
}

#sign-up-btn{
    height:32px;
    width:100px;
    border:0.8px solid rgb(200, 200, 200);
    border-radius: 4px;
    color:var(--orange);
    font-size: larger;
    font-weight: 400;
    background-color: #fff;
    margin-top:35%;
}

#sign-up-btn:hover{
    cursor:pointer;
    color:#000;
    background-color: var(--orange);
    box-shadow: 0 1px 1px rgba(32, 33, 36, .28);
}

.main-landing-container{
    display:flex;
    flex-direction: column;
    width:100%;
}

.heading-text{
    padding-left:25px;
    font-size:30px;
    width:max-content;
    color:rgb(18, 18, 19);
    position: relative;
    animation:incoming 2.5s 1;
    animation-fill-mode: forwards;
}

.line-separator{
    border-bottom: 1px solid rgb(170, 170, 170);
    animation:lineappear 2.5s 1;
    animation-fill-mode: forwards;
}

.boxes-container{
    display:flex;
    flex-grow: 1;
    width:100%;
    padding-left:2vw;
    padding-right:2vw;
    padding-top:2%;
    height:98%;
    min-height:800px;
    background: linear-gradient(rgba(241, 241, 241, 0.589) ,rgba(197, 197, 197, 0.6));
}

.content-box{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    border-top:1px solid rgb(207, 207, 207);
    border-left:1px solid rgb(207, 207, 207);
    border-right:1px solid rgb(207, 207, 207);
    border-radius: 1px;
    min-height: fit-content;
    height:650px;
    width:25%;
    margin:5px; ;
    background: linear-gradient(rgba(231, 231, 231, 0.801) 75%,rgb(189, 189, 189) ) ;
}

.content-box:hover{
    background: linear-gradient(var(--orange), 100px, rgb(228, 134, 46)400px);
    box-shadow: 4px 4px 8px rgba(114, 114, 114, 0.561);
}

.box-title{
    height:35px;
    width:100%;
    font-size: larger;
}

.content-box:hover > .box-title > .keyword-title{
    animation: title-appear 1.2s 1;
    animation-fill-mode:forwards;
}

.keyword-title{
    padding:28px;
}

#ask-new-quest, #ans-quest{
    margin-top:100px;
}

.image-container{
    margin-top:55px;
}

#quest-img{
    height:160px;
    border-radius: 2px;
    margin:30px;
    background-image: url(images/askquestion.png);
    background-size: 20vh;
    background-position: center;
    background-repeat: no-repeat;
}

#quest-img-2{
    height:160px;
    border-radius: 2px;
    margin:30px;
    background-image: url(images/exclam.png);
    background-size: 19vh;
    background-position: center;
    background-repeat: no-repeat;
}

#quest-img-3{
    height:160px;
    border-radius: 2px;
    margin:30px;
    background-image: url(images/keyword.png);
    background-size: 17vh;
    background-position: center;
    background-repeat: no-repeat;
}

#quest-img-4{
    height:160px;
    border-radius: 2px;
    margin:30px;
    background-image: url(images/stats2.png);
    background-size: 18vh;
    background-position: center;
    background-repeat: no-repeat;
}

.quest-text{
    margin:20px;
    text-align: left;
    font-size: larger;
    color:rgb(46, 46, 46);
}

.quest-but{
    margin:15px;
    padding:10px;
    height:fit-content;
    width:200px;
    font-size: larger;
    border:1px solid grey;
    border-radius: 2px;
    background: rgb(255, 206, 159);
}
.quest-but2{
    margin:70px;
    padding:10px;
    height:fit-content;
    width:240px;
    font-size: larger;
    border:1px solid grey;
    border-radius: 2px;
    background: rgb(255, 206, 159);
}

.quest-but:hover , .quest-but2:hover{
    cursor: pointer;
    background-color: rgb(250, 165, 86);
    color:rgb(77, 22, 0);
}


.btn-primary{
    background-color: rgb(255, 123, 0);
    border-color:rgb(255, 123, 0) ;
}

.btn-primary:hover{
    background-color: rgb(255, 139, 31);
    border-color: rgb(255, 139, 31);
}

.footer-page-container{
    width:100vw;
    position:absolute;
    bottom:0;
}

.flex {
    display: flex;
    flex-flow: row wrap;
}

.whitespace {
    white-space: pre-wrap;
    position: relative; 
}