.questions-main-container{
    display: flex;
    flex-direction: column;
    height:100vh;
}

.questions-main-div{
    height:100%;
}

.questions-title{
    height:100px;
    width:100%;
    color: var(--orange);
    font-size: 40px;
}

.question-div{
    display:flex;
    flex-direction: column;
    height:140px;
    width:70vw;
    padding:10px;
}

.question-div-details{
    margin-bottom: 20px;
}

.question-div-keywords{
    display: flex;
    flex-direction: row;
}

.keyword-div{
    padding:2px 7px;
    margin:3px;
    width: fit-content;
    height: fit-content;
    font-size: medium;
    border:1px solid grey;
    border-radius:15px;
    background-color: rgb(179, 183, 187);
}

.question-div-title{
    font-size: larger;
    align-self: flex-start;
}

.question-div-date-who{
    position: relative;
    right:0;
}

.pagin-div{
    margin-bottom: 80px;
}

.pagination-container{
    width:100%;
    height:100px;
    align-items: center;
}

.page-link{
    color: var(--orange);
}

.page-link:hover{
    color: var(--orange);
}

.page-link:focus{
    box-shadow: 0 0 0 0.2rem rgb(211, 115, 26 / 25%);
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: orange;
    border-color: orange;
}
